build-lesson_05_CPP_DM-Desktop-Debug/*.o
build-lesson_05_CPP_DM-Desktop-Debug/*.stash
build-lesson_05_CPP_DM-Desktop-Debug/lesson_05_CPP_DM
build-lesson_05_CPP_DM-Desktop-Debug/Makefile
lesson_05_CPP_DM/*.user